body {
  background: #fff url("../img/bg.png");
  font-family: 'Signika', sans-serif;
  line-height: 22px;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 1px rgba(60,60,60,0.1);
}

p, li {
  color: #444;
}

.hero-unit {
  background: #eee url("../img/grid.png");
  box-shadow: 3px 3px 3px rgba(50,50,50,0.2);
  padding: 20px;
}

.hero-unit h1 {
  font-size: 52px;
  margin-top: 10px;
}

.center {
  text-align: center;
}

.john {
  border-radius: 4px;
  float: left;
  margin: 0 20px 20px 0;
}

@media (max-width: 767px) {
  .navbar .brand {
    font-size: 16px;
  }

  .hero-unit h1 {
    font-size: 24px;
  }
}

li p.lead {
  margin-bottom: 2px;
}

/**
 * Sections
 **/

.section {
  margin-bottom: 40px;
}

.section .btn.home {
  float: right;
}

#home .lead {
  font-size: 18px;
}

@media (min-width: 767px) {
  #home .right-border {
    border-right: 1px solid #eee;
    margin-right: -1px;
  }

  #home .right-border p {
    padding-right: 12px;
  }

  #practice-areas h4 {
    min-height: 40px;
  }
}

/**
 * Social Networking Icons
 **/

.social-icon {
  background: url('../img/social-icons.png');
  background-repeat: no-repeat;
  background-size: 268px;
  display: inline-block;
  height: 64px;
  width: 64px;
}

.social-icon.linkedin {
  background-position-x: 0;
}

.social-icon.twitter {
  background-position-x: -68px;
}

.social-icon.blog {
  background-position-x: -136px;
}

.social-icon.facebook {
  background-position-x: -204px;
}
